a {
    color: #18272f;
    position: relative;
    text-decoration: none;
}

a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background: rgb(236, 151, 228);
    background: linear-gradient(74deg,
            rgba(236, 151, 228, 1) 8%,
            rgba(238, 154, 229, 1) 15%,
            rgba(167, 103, 237, 1) 92%);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.btn-main {
    width: 9rem;
    height: 2rem;
    margin: 10px;
    border-radius: 0.25rem;
    border: none;
    background-color: #9a7af1;
    color: aliceblue;
    font-weight: 600;
}

.btn-main-s {
    @extend .btn-main;
    height: 2rem;
    width: 6rem;
    font-weight: 400;

    &:hover {
        background: none;
        border: solid 2px #9a7af1;
        color: #9a7af1;
        box-shadow: -2px 4px 5px 0px rgba(28, 28, 28, 0.27);
        -webkit-box-shadow: -2px 4px 5px 0px rgba(28, 28, 28, 0.27);
        -moz-box-shadow: -2px 4px 5px 0px rgba(28, 28, 28, 0.27);
    }
}

.logo img {
    height: 3rem;
}

.get-started {
    font-weight: 400;

    i {
        cursor: pointer;
    }
}

.text-home {
    padding: 10px;
    font-size: 6rem;
    font-weight: 800;
    color: aliceblue;
}

.sect-schedule {
    width: 300px;
    height: 400px;
    padding: 2rem;
    border-radius: 20px;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.04);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.15);
    border-radius: 35px;
    margin: 2rem;
}

.sect-schedule-2 {
    @extend .sect-schedule;
    margin-top: 12rem;
}

.bi-bi-toggle-on {
    background-color: #9a7af1;
}

.sect-plans {
    @extend .sect-schedule;
}

.toggle-menu {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    h1 {
        color: #010851;
        font-weight: 900;
        font-size: 3rem;
    }

}

.sect-plans {
    margin-top: 10px;
    display: inline-block;
    position: relative;
    padding: 0;
    button{
        padding: 0;
    }
    h1 {
        font-size: 2rem;
        font-weight: 700;
    }

    h2 {
        font-size: 2.5rem;
        font-weight: 900;
        color: #9a7af1;
    }
    ul{
        list-style: none;
    }
    li{
        font-size: 1rem;
        right: 18px;
        position: relative;
        padding: 0;
    }
}
input{
    display: inline-block;
    justify-content: space-between;
    width: 9rem;
    height: 2rem;
    background-color: #9A7AF159;
    border: #9a7af1;
    color: #010851;
    button{
        margin: 0;
    }
}
form{
    input{
        color: aliceblue;
    }
}